# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/

# React
node_modules/
build/
dist/
*.log

# Docker
*.env
.env*

# VS Code
.vscode/

# MacOS
.DS_Store

# Misc
*.swp
*.swo
*.bak
*.tmp

# Ignore coverage and test results
coverage/
*.coverage
*.egg-info/
test_output/

# Ignore processed transcripts and outputs
models/audiotext/transcriptions/
models/filtertext/processed_outputs/

# Ignore local settings
local_settings.py

# Ignore secrets
secrets/
